<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>卓越论坛</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--导航条-->
<nav class="ui attached blue segment m-padded-tb-none m-shadow-small">
    <div class="ui stackable container">
        <div class="ui stackable secondary menu">
            <h2 class="ui blue header item m-mobile-show">卓越论坛</h2>
            <a href="#" class="ui item m-mobile-hide">
                <img src="../static/images/zyfourm.png" alt="" class="ui image">
            </a>
            <a href="#" class="active blue m-item item m-mobile-hide"><i class="home icon"></i>帖子</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="bookmark icon"></i>论坛</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="th icon"></i>版块</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="flag outline icon"></i>活动</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="question circle icon"></i>个人信息</a>
            <div class="right m-item menu m-mobile-hide">
                <div class="ui icon input item">
                    <input type="text" placeholder="搜索...">
                    <i class="inverted circular search link icon" style="top: 1em;right: 1.5em;"></i>
                </div>
                <a href="#" id="model" class="item"><i class="sign-in icon"></i>登录</a>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav> 

<!--登录注册-->
<div class="ui modal" id="sign-in">
    <div class="ui container">
        <img src="../static/images/zyfourm.png" alt="" class="ui image" style="margin: 20px auto;">
    </div>
    <div class="ui pointing secondary menu">
        <a class="item active" data-tab="first">用户登录</a>
        <a class="item" data-tab="second">注册账号</a>
    </div>
    <i class="close icon"></i>
    <div class="ui tab active" data-tab="first" style="margin: 20px;">
        <div class="ui attached message">
            <div class="header">
                欢迎访问卓越论坛！
            </div>
            <p>通过登录获取更多功能</p>
        </div>
        <form class="ui form attached segment fluid">
            <div class="field">
                <label>账号</label>
                <input placeholder="用户名/邮箱" type="text">
            </div>
            <div class="field">
                <label>密码</label>
                <input type="password" placeholder="密码">
            </div>
            <div class="inline field">
                <div class="ui checkbox">
                    <input type="checkbox" id="terms">
                    <label for="terms">下次自动登录</label>
                </div>
            </div>
            <div class="ui blue submit button">登录</div>
        </form>
    </div>
    <div class="ui tab " data-tab="second" style="margin: 20px;">
        <div class="ui attached message">
            <div class="header">
                欢迎访问卓越论坛！
            </div>
            <p>注册一个新帐户</p>
        </div>
        <form class="ui form attached fluid segment" >
            <div class="field">
                <label>邮箱</label>
                <input placeholder="邮箱" type="email">
            </div>
            <div class="field">
                <label>验证码</label>
                <div class="fields">
                    <div class="field">
                        <input type="text" placeholder="验证码">
                    </div>
                    <div class="field">
                        <button class="ui primary button">发送验证码</button>
                    </div>
                </div>

            </div>
            <div class="field">
                <label>用户名</label>
                <input placeholder="用户名" type="text">
            </div>
            <div class="field">
                <label>密码</label>
                <input type="password" placeholder="密码">
            </div>
            <div class="inline field">
                <div class="ui checkbox">
                    <input type="checkbox">
                    <label for="terms">同意服务条款</label>
                </div>
            </div>
            <div class="ui blue submit button">注册</div>
        </form>
    </div>
</div>

<!--中间内容-->
<div id="waypoint" class="m-container-small m-padded-tb-big">
    <div class="ui stackable grid">
        <!--左边最新帖子-->
        <div class="twelve wide column">
            <!--中间内容-->
            <div class="ui attached segment">
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                    <div class="ui mobile reversed stackable grid">
                        <!--图片区域-->
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="../static/images/miku800x600.png" class="ui rounded image">
                            </a>
                        </div>
                        <!--帖子内容-->
                        <div class="eleven wide column">
                            <h3 class="ui header" style="font-weight: normal">卓越科技的个人博客介绍</h3>
                            <p class="m-text">
                                卓越人生，只为科技。欢迎来到我的个人博客。分享动漫混剪和实用又好玩的电脑教程。点击进入我的首页查看更多内容！卓越人生，只为科技。欢迎来到我的个人博客。分享动漫混剪和实用又好玩的电脑教程。点击进入我的首页查看更多内容！<a
                                    href="#"><i class="angle double right icon"></i>全文</a></p>
                            <div class="ui stackable grid">
                                <div class=" wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <div class="content"><a href="#" class="header">360动态</a></div>
                                        </div>
                                        <div class="item">
                                            <img src="../static/images/user.png" class="ui avatar image">
                                            <div class="content"><a href="#" class="header">发帖人</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2019-08-07
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 10W+
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank"><i class="share icon"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--导航栏-->
            <div class="ui attached segment pagebar">
                <div class="ui right floated pagination menu ">
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="item">5</a>
                </div>

            </div>
        </div>

        <!--右边top-->
        <div class="four wide column">
            <div class="ui segments">
                <!--发帖-->
                <div class="ui segment">
                    <div class="ui two column stackable center aligned grid">
                        <div class="middle aligned row">
                            <div class="column">
                                <div class="ui icon header">
                                    <i class="edit icon"></i>
                                    开始写一篇吧!
                                </div>
                                <div class="ui primary button">
                                    发帖
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--版块推荐-->
                <div class="ui segment">
                    <div class="column"><i class="th large icon"></i> <a href="">版块推荐</a></div>
                </div>
                <div class="ui segment">
                    <div class="ui two column grid">
                        <div class="column">
                            <img src="../static/images/li100.jpg" class="ui avatar image">
                            卓越科技
                        </div>
                        <div class="right aligned column">
                            <img src="../static/images/li100.jpg" class="ui avatar image">
                            卓越科技
                        </div>
                    </div>
                    <div class="ui two column grid">
                        <div class="column">
                            <img src="../static/images/li100.jpg" class="ui avatar image">
                            卓越科技
                        </div>
                        <div class="right aligned column">
                            <img src="../static/images/li100.jpg" class="ui avatar image">
                            卓越科技
                        </div>
                    </div>
                </div>

                <!--最新活动-->
                <div class="ui segment">
                    <div class="column"><i class="flag outline icon"></i> <a href="">最新活动</a></div>
                </div>
                <div class="ui segment">
                    <img src="../static/images/active.jpg" class="ui image">
                </div>
                <div class="ui segment">
                    <div class="ui centered card " style="width: 11em">
                        <img src="../static/images/wechat.jpg" class="ui rounded image">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--底部导航条-->
<div id="toolbar" class="ui m-fixed m-right-bottom m-padded" style="display: none">
    <div class="ui vertical icon buttons">
        <a id="toTop-button" class="ui icon button"><i class="up chevron icon"></i></a>
    </div>
</div>

<!--尾部内容-->
<footer class="ui inverted vertical segment m-padded-tb-big">
    <div class="ui center aligned container">
        <p class="m-text-spaced m-text-thin m-opacity-tiny">Copyright © 2019 - 2020 论坛</p>
    </div>
</footer>

<script src="../static/js/jquery-3.4.1.min.js"></script>
<script src="../static/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="../static/lib/waypoints/jquery.waypoints.min.js"></script>
<script src="../static/js/jquery.scrollTo.min.js"></script>

<script>

    $('#model').click(function () {
            $('.ui.modal')
                .modal('setting', 'closable', false)
                .modal('show')
        }
    );

    $('.menu .item')
        .tab()
    ;

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');

    });

    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: '请输入密码'
                }]
            }
        }
    });

    $('#toTop-button').click(function () {
        $(window).scrollTo(0, 1000);
    });

    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function (direction) {
            if (direction == 'down') {
                $('#toolbar').show(500);
            } else {
                $('#toolbar').hide(500);
            }
        }
    });

</script>

</body>
</html>